.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim
*.swp

# Distribution / packaging
*.egg-info/
dist
build
*/_version.py

# Unit test / coverage reports
.coverage*
.pytest_cache
.mypy_cache
htmlcov

# VScode IDE
.vscode/
.env

# Local scratch
.scratch

# Local environment
.venv

# Jupyter
.ipynb_checkpoints

# Example generated tables
example/tables
