.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim
*.swp

# Distribution / packaging
*.egg-info/
dist
build
docs
*/_version.py

# Unit test / coverage reports
.coverage*
.pytest_cache
.mypy_cache
htmlcov

# VScode IDE
.vscode/
.env

# Local data and scratch
.scratch

# Local virtual environment
.venv
.python-version

# Jupyter
.ipynb_checkpoints
